page-home {
   
h2{
    text-align: center;
    color:black;
    background-color: grey;
    font-size: 50px;
}

}

ion-title{
    text-align: center;
    background-color:red;
    color:black;
}

ion-item{
    position: center;

}